*{
    margin:0;
    padding:0;
} 
.navbar{
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    overflow: auto;
    width: 100vw;
}

.profile-image{
    max-width:200px;
}

ul{
    list-style-type: none;
    overflow: hidden;
    margin:0px;
    padding:0px;
    margin-right: 20%;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    float: right;
    padding: 10px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

.navbar-brand{
    float: left;
    background: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    height: 50px;
    width: 300px;
    padding: 20px 15px;
    margin-left:20%;
}

#contact{
    border-right: none;
}

body{
    background-image: url("/assets/images/light-grey-terrazzo.png");
    background-repeat: repeat;
    background-size: cover;
}

.container{
    background-color: white;
    margin: 35px auto;
    padding: 20px;
    line-height: 2;
    width: 960px;
    border: 1px solid #cccccc;
    color: #777777;
}

.container h1{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25px;
    margin-bottom: 20px;
}


.container p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}

footer {
    background-color: #aaa6a6;
    text-align: center;
    height: 5%;
    width: 100%;
    border-top: 5px #4aaaa5 solid;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 12px;
     }

footer p{
    margin-top:1%;
}

hr{
    margin-left: 25px;
    width: 93.2%;
}

/* THIS IS WHERE CONTACT FORM CSS STARTS */

#form-group {
    margin-left:25px;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}

#formname{
    width: 95%;
    height: 30px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#email{
    width: 95%;
    height:30px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#tallmessage{
    height:250px;
    width: 94%;
    resize: none;
    padding: 10px;
    margin: 1px;
    vertical-align: text-top; 
    border-color:lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#inputbutton{
    background-color: #4aaaa5;
    color: white;
    width: 100px;
    height:30px;
    line-height:150%;
    font-family: Arial, Helvetica, sans-serif;
}

/* !--THIS IS WHERE PORTFOLIO CSS STARTS */

.percy{
    position: relative;
}

.percypics{
    width:280px;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 15px;
    left:0;
    font-size: 24px;
    color: white;
    font-weight: 400;
    background-color: #4aaaa5;
 }

#percy-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

 thumbnail{
     margin: 4px 15px 0px 0px;
     margin-right: 20px;
     height: 300px;
     width: 280px;
 }